* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: robotoRegularFont;
}

:root {
  /*Primary*/
  --Tomato: hsl(4, 100%, 67%);
  /* Neutral*/
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  /*effects*/
  --Brown: hsla(4, 100%, 67%, 0.178);
  --Coral: hsl(346, 100%, 66%);
  --Coral-light: hsl(0, 83%, 84%);
}

@font-face {
  font-family: robotoBoldFont;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: robotoRegularFont;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-Slate-Grey);
}

.container {
  background-color: var(--White);
  border-radius: 36px;
  padding: 30px;
  display: flex;
  width: 960px;
  justify-content: space-between;
}

.main-card {
  display: flex;
  justify-content: center;
}

.card1 {
  display: flex;
  padding: 35px;
  max-width: 480px;
  flex-direction: column;
  justify-content: start;
}

.title {
  font-size: 56px;
  font-family: robotoBoldFont;
  color: var(--Dark-Slate-Grey);
  margin-top: 25px;
  margin-bottom: 30px;
}

.message {
  color: var(--Dark-Slate-Grey);
  margin-bottom: 15px;
}

ul {
  list-style: none;
  margin: 20px 0 30px 0;
  color: var(--Dark-Slate-Grey);
  padding: 0;
}
li.item {
  margin-bottom: 12px;
}

span.space-item {
  position: relative;
  margin: 15px;
}

li::before {
  vertical-align: middle;
  content: url(./assets/images/icon-list.svg);
}

.email-label {
  font-family: robotoBoldFont;
  font-size: 12px;
  color: var(--Dark-Slate-Grey);
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-control {
  width: 376px;
  height: 56px;
}

.form-control:focus {
  border-color: var(--Dark-Slate-Grey);
  box-shadow: none;
  -webkit-box-shadow: none;
  cursor: pointer;
}

.btn {
  border-radius: 10px;
  font-size: 16px;
  color: var(--White);
  font-family: robotoBoldFont;
  border: none;
  margin: 25px 0 25px 0;
  background-color: var(--Dark-Slate-Grey);
  width: 376px;
  height: 56px;
  cursor: pointer;
}

.btn:hover {
  background-image: linear-gradient(to left, var(--Tomato), var(--Coral));
  box-shadow: -5px 15px 30px var(--Coral-light);
  color: var(--White);
}

.success {
  width: 480px;
  background-color: var(--White);
  border-radius: 36px;
  display: none;
  height: 620px;
  padding: 30px;
  justify-content: flex-start;
  align-items: flex-start;
}

.thanks-message {
  font-size: 56px;
  font-family: robotoBoldFont;
  margin: 50px 0px 0px 0px;
}

.confirmation-message {
  font-size: 16px;
  font-family: robotoRegularFont;
  margin: 50px 0px 90px 0px;
}

.invalidEmail {
  border: 1px solid var(--Tomato);
  border-radius: 8px;
  font-size: 16px;
  padding: 21px;
  margin-bottom: 34px;
  outline: none;
  color: var(--Tomato);
  background-color: var(--Brown);
}
