* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: robotoRegularFont;
}

:root {
  /*Primary*/
  --Tomato: hsl(4, 100%, 67%);
  /* Neutral*/
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  /*effects*/
  --Brown: hsla(4, 100%, 67%, 0.178);
  --Coral: hsl(346, 100%, 66%);
  --Coral-light: hsl(0, 83%, 84%);
}

@font-face {
  font-family: robotoBoldFont;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: robotoRegularFont;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-Slate-Grey);
}

.container {
  background-color: var(--White);
  border-radius: 36px;
  padding: 22px;
  display: flex;
  justify-content: space-between;
}

.card-content {
  display: flex;
  padding: 35px 50px;
  max-width: 30rem;
  flex-direction: column;
  justify-content: start;
}

.title {
  font-size: 3.6rem;
  font-family: robotoBoldFont;
  color: var(--Dark-Slate-Grey);
  margin-top: 25px;
  margin-bottom: 25px;
}

.join-message {
  font-size: medium;
  color: var(--Dark-Slate-Grey);
  margin-bottom: 12px;
}

ul.list-items {
  display: block;
  list-style: none;
  margin: 25px 0 35px 0;
  color: var(--Dark-Slate-Grey);
  padding: 0;
  font-size: medium;
}

li.item {
  display: flex;
  margin-bottom: 12px;
}

li.item::before {
  vertical-align: middle;
  content: url(./assets/images/icon-list.svg);
  margin-right: 15px;
}

.email-label {
  font-family: robotoBoldFont;
  font-size: small;
  color: var(--Dark-Slate-Grey);
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form {
  height: 56px;
  padding: 12px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #9294a0;
  font-size: medium;
}

.form:focus {
  border-color: var(--Dark-Slate-Grey);
  box-shadow: none;
  -webkit-box-shadow: none;
  cursor: pointer;
}

.btn {
  border-radius: 10px;
  font-size: medium;
  color: var(--White);
  font-family: robotoBoldFont;
  border: none;
  margin: 12px 0 12px 0;
  background-color: var(--Dark-Slate-Grey);
  height: 56px;
  cursor: pointer;
  transition: 0.8s ease;
  -webkit-transition: 0.8s ease;
}

.btn:hover {
  background-image: linear-gradient(to left, var(--Tomato), var(--Coral));
  box-shadow: -5px 15px 30px var(--Coral-light);
  color: var(--White);
}

.card-image {
  display: flex;
  align-self: center;
  padding-left: 1rem;
}

.illustration-desktop {
  width: 100%;
}

.illustration-mobile {
  display: none;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.success-card {
  flex-direction: column;
  width: 470px;
  background-color: var(--White);
  border-radius: 36px;
  height: 550px;
  padding: 44px;
  justify-content: flex-start;
  align-items: flex-start;
}

.thanks-message {
  font-size: 3.6rem;
  font-family: robotoBoldFont;
  margin: 30px 0px 0px 0px;
}

.confirmation-message {
  font-size: medium;
  font-family: robotoRegularFont;
  margin: 30px 0px 30px 0px;
}

.invalidEmail {
  border: 1px solid var(--Tomato);
  border-radius: 8px;
  font-size: medium;
  outline: none;
  color: var(--Tomato);
  background-color: var(--Brown);
}

.invalidStyle {
  color: var(--Tomato);
  padding-left: 190px;
  font-size: small;
  font-family: robotoBoldFont;
}

@media only screen and (max-width: 990px) {
  .container {
    flex-flow: column-reverse;
    justify-content: center;
    max-width: 20rem;
    padding: 0px 15px 15px;
    border-radius: 15px;
  }

  .card-image {
    display: flex;
    max-width: 20rem;
    justify-content: flex-start;
    align-self: center;
  }

  .title {
    font-size: 2.5rem;
    margin-bottom: 25px;
  }

  .card-content {
    margin: 0;
    padding: 15px;
    max-width: 360px;
  }

  .card-image {
    max-width: 350px;
    margin: 0;
    padding: 0;
  }

  .join-message {
    max-width: 350px;
    font-size: small;
  }

  ul.list-items {
    font-size: small;
  }

  li::content {
    text-align: justify;
  }

  .confirmation-message {
    margin-bottom: 80px;
    font-size: small;
  }

  .illustration-desktop {
    display: none;
  }

  .illustration-mobile {
    display: flex;
    align-items: flex-start;
    max-width: 20rem;
    padding: 0%;
    margin: 0%;
  }
}
